.article-title-txt{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    line-height: 200%;
    color: #EEEEEE;
    padding: 0.1rem 0.1rem;
    
}

.article-title {
    position: relative;
    padding: 1.5rem 2rem;
    border: 4px solid #545454;
    display: flex;
}

.txt-ayumi {

}



.article-title-txtbox {
    position: absolute;
    color: #fff;
    text-align: left;
    height: 245px;
    object-fit: cover;
}

.article-title-img {
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.article-title-txt:before,
.article-title-txt:after {
    position: absolute;
    left: 0;
    width: 100%;
    content: '';
    border-top: 4px dotted #545454;
}

.article-title-txt:before {
    top:6px;
}

.article-title-txt:after {
    bottom: 6px;
}

.article-title-img {

}