header{
  width:100%;
  height:100px;
  background:#F29F05;
  box-sizing: border-box;
  align-items: center; 
  padding-left:70px;
  padding-right:70px;
}

.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width:100%;
  padding-right: 70px;
}

.header-btns{
  padding-right: 70px;
  color: #545454;
}

.logo-pic{
  height: 82px;
  width: 300px;
  object-fit: cover;
  border-radius: 3px;

}

.logo{
  width: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul{
  list-style: none;
  display: flex;
}

.header-btn {
  padding:10px
}

.form-btn {
  padding:10px;
}

/* ファーストビューのヘッダー下部分 */
.article-title {
    height: 300px;
    background-color: rgb(255, 189, 88);
}