* {
  font-family: 'Sawarabi Gothic', 'Source Sans Pro', sans-serif;
}

.wrapper {
  width: 100%;
}

.bg_pt {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f3fcfa;
  background-image: radial-gradient(#ccc 1px, #fff 1px);
  background-size: 25px 25px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container {
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1px 3px #bbb;
  align-items: center;
  box-sizing: border-box;
  z-index: 5;
  position: fixed;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.header-btns {
  color: #545454;
}

.header-btn {
  cursor: pointer;
}

.header-btn:hover {
  transition: all .5s;
  color: #F29F05;
}

.logo-pic {
  height: 45px;
  width: 150px;
  object-fit: cover;
  border-radius: 3px;

}

.logo {
  width: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
}

.header-btn {
  padding: 10px
}

.form-btn {
  padding: 10px;
}

.header-spacer {
  width: 100%;
  height: 60px;
}


/* hamburgerとmenu */
.side-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
  opacity: 0;
}

.side-menu {
  position: absolute;
  top: 60px;
  right: 0;
  /* opacity: 0;
  z-index: -1; */
}

.side-menu ul {
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.side-menu-open {
  z-index: 1;
  opacity: 1;
  transition: all .5s;
}





/* コピペ */
/*==================================================
　5-2-1 3本線が×に
===================================*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn {
  /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  z-index: 30;
}

/*ボタン内側*/
.openbtn span {
  display: inline-block;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #545454;
  width: 45%;
  z-index: 30;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}








/* footer */

footer {
  width: 100%;
}

.footer-inner {
  width: 100%;
  background-color: #eee;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px 40px;
}

.footer-inner a:hover {
  transition: all .5s;
  color: #F29F05;
}

.footer-sns-box {
  width: 100%;
}

.footer-sns-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer-sns-inner p {
  font-size: 1.2em;
  text-align: center;
  color: #545454;
  margin-bottom: 10px;
}

.footer-sns-icons {
  display: flex;
  justify-content: space-between;
}

.footer-sns-icons li {
  width: 30px;
}

.footer-sns-icons li a {
  width: 100%;
}

.footer-sns-icons li a img {
  width: 100%;
}

.footer-link-box {
  letter-spacing: .08em;
  margin: 0 auto;
  line-height: 1.5em;
  word-break: keep-all;
  text-align: center;
}

.footer-link-box a {
  margin: 0 10px;
}

.footer-credit-box {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: #a6a6a6;
}


/* コピペ　記事タイトルアニメーション */
/*全共通*/

.bgextend {
  animation-name: bgextendAnimeBase;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@keyframes bgextendAnimeBase {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

/*中の要素*/
.bgappear {
  animation-name: bgextendAnimeSecond;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/*右から左*/
.bgRLextend::before {
  animation-name: bgRLextendAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #666;
  /*伸びる背景色の設定*/
}

@keyframes bgRLextendAnime {
  0% {
      transform-origin: right;
      transform: scaleX(0);
  }

  50% {
      transform-origin: right;
      transform: scaleX(1);
  }

  50.001% {
      transform-origin: left;
  }

  100% {
      transform-origin: left;
      transform: scaleX(0);
  }
}


/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgRLextendTrigger {
  opacity: 0;
}
