.article{
  margin-bottom: 30px;
}

.article-contents{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.article-img-box {
  width: 40%;
}

.article-img-box img {
  width: 100%;
}

.article-text {
  width: 40%;
  overflow-wrap: break-word;
  padding: 20px;
}

/* generator-box */